.profileContainer {
  display: flex;
  align-items: center;
  position: relative;

  & > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
  }

  div {
    margin-left: 1.5rem;

    strong {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--title);
    }
    p {
      font-size: 1rem;
      margin-top: 0.5rem;

      img {
        margin-right: 0.5rem;
      }
    }
  }

  .switch {
    position: absolute;
    right: 2px;

    span {
      position: relative;
      display: inline-block;

      height: 1.45em;
      width: 2.975em;
      border-radius: 1.75em;

      background: var(--gray-line);

      vertical-align: middle;

      input {
        display: none;
      }
      label {
        width: 100%;
        height: 100%;
        border-radius: 1.75em;
        position: relative;

        &:before {
          background: var(--white);

          position: absolute;
          content: '';
          top: 0;
          left: 0;

          height: 1.95rem;
          width: 1.95rem;
          
          border-radius: inherit;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;

          transform: translatey(-15%);
        }
      }
    }
  }
}